<!doctype html>
<html>
<head>
    <meta name="charset" content="utf-8"/>
    <meta name="viewport" content="width=device-width">

    {{#if meta.twitter}}
        {{#with meta.twitter}}
            <meta property="twitter:title" content="{{title}}">
            <meta property="twitter:description" content="{{description}}">
            <meta property="twitter:image" content="{{imageUrl}}">
            <meta name="twitter:card" content="summary">
            <meta name="twitter:site" content="{{site}}">
            <meta name="twitter:creator" content="{{creator}}">
        {{/with}}
    {{/if}}

    {{#if meta.og}}
        {{#with meta.og}}
            <meta name="og:url" content="{{url}}">
            <meta name="og:description" content="{{description}}">
            <meta name="og:title" content="{{title}}">
            <meta name="og:image" content="{{imageUrl}}">
        {{/with}}
    {{/if}}
    {{#if facebookAppId}}
        <meta name="fb:app_id" content="{{facebookAppId}}">
    {{/if}}
    <meta name="description" content="{{meta.description}}">
    <meta name="keyword" content="{{meta.keyword}}">

    <title>{{title}}</title>
    <link rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/css/bootstrap-material-design.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/css/ripples.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/app-mobile.css">
</head>
<body>
<div id="root" class="root">{{{html}}}</div>
<script>
    // WARNING: See the following for Security isues with this approach:
    // http://redux.js.org/docs/recipes/ServerRendering.html#security-considerations
    window.__PRELOADED_STATE__ = {{{preloadedState}}};
</script>
{{> firebaseScript}}
{{> gaScript}}

<script type="text/javascript"
        src="//apis.daum.net/maps/maps3.js?apikey={{mapApiKey}}&libraries=services,clusterer"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/js/material.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/js/ripples.min.js"></script>
<script src="/js/dist/bundle.js"></script>
</body>
</html>
